// src/components/HoverRadialFill.module.scss
@use '../styles/theme' as *;

.radialFillContainer {
  position: relative; // Essential for positioning children
  overflow: hidden; // Hide the gradient outside the element
  cursor: pointer;

  background-color: var(--color-background);
  //color: var(--color-text);

  background-image: radial-gradient(
    circle at var(--mouse-x) var(--mouse-y),
    var(--fill-color) var(--gradient-size),
    transparent var(--gradient-size)
  );
  background-repeat: no-repeat;
  background-position: center center;

  transition: color 0.4s ease-in, background-color 0.4s ease-in, --fill-color 0.4s ease-in;

}

.contentDefault,
.contentFilled {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.contentDefault {
  //color: var(--color-text);
  z-index: 1; // Ensure it's below the filled content
  // No position: absolute here
}

.contentFilled {
  position: absolute; // Keep this one absolute
  color: var(--filled-text-color);
  z-index: 2;

  mix-blend-mode: lighten; // Or 'lighten', 'screen', 'overlay'

  -webkit-mask-image: radial-gradient(
    circle at var(--mouse-x) var(--mouse-y),
    white var(--gradient-size),
    transparent var(--gradient-size)
  );
  mask-image: radial-gradient(
    circle at var(--mouse-x) var(--mouse-y),
    white var(--gradient-size),
    transparent var(--gradient-size)
  );
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  mask-position: center center;
}

// Ensure direct text elements within the content also inherit colors
.contentDefault *,
.contentFilled * {
  color: inherit;
  transition: color 0.4s ease-in;
}
