@use '../styles/theme' as theme;

.errorMessage {
  color: red;
  font-weight: bold;
}

.loadingMessage {
  color: gray;
}

.resultContainer {
  background-color: #f9f9f9;
  color: black;
  border: 1px solid #eee;
  border-radius: 8px;
  padding: 20px;
  margin-top: 20px;
  width: 100%;
  text-align: left;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  @include theme.responsive-property(font-size, (
    sm: 1.3em * 0.9,
    md: 1.3em,
    lg: 1.3em * 1.1
    )
  );

  p {
    margin-bottom: 0;
    line-height: 1.5;
    b {
      color: var(--color-primary);
    }
  }
}
