@use '../styles/theme' as theme;

.searchForm {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: theme.$spacing-xs;

  flex-direction: column;
  @include theme.breakpoint(sm) {
    flex-direction: row;
    gap: theme.$spacing-sm;
  }
  @include theme.breakpoint(md) {
    gap: theme.$spacing-md;
  }
  @include theme.breakpoint(lg) {
    flex-direction: row;
    gap: theme.$spacing-lg;
  }
}

.formInput {
  flex-grow: 1;
}
