/* src/App.css */

@use './styles/theme' as theme;
//@use './styles/mixins' as mix;

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* Space between elements */
}

.content-gutter{
  display: flex;
  flex-direction: column;
  align-items: center;

  @include theme.responsive-property(width, (
    sm: 100%,
    md: 80vw,
    lg: 60vw,
    xl: 30vw,
    )
  );
  @include theme.breakpoint(xl) { 
    min-width: 600px;
  }
}
