/* src/App.css */
#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* Space between elements */
}

.App > form {
    display: flex;
}

input[type="text"] {
    padding: 10px 15px;
    width: 300px;
    max-width: 90%;
    margin-right: 15px;
}
